{% extends 'auth/auth-base.html' %}
{% load static %}


{% block title %}
	Register
{% endblock title %}


{% block body %}
	
<body class="body">

	<div class="sign section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						
						<form action="{% url 'user:register' %}" method="POST" class="sign__form">{% csrf_token %}
							{% include 'partials/messages.html' %}
							<a href="{% url 'movies:index' %}" class="sign__logo">
								<img src="{% static 'img/logo.svg' %}" alt="">
							</a>

							<div class="sign__group">
								<input name="username" type="text" class="sign__input" placeholder="Name">
							</div>

							<div class="sign__group">
								<input name="email" type="email" class="sign__input" placeholder="Email">
							</div>

							<div class="sign__group">
								<input name="phone" type="text" class="sign__input" placeholder="Phone Number">
							</div>

							<div class="sign__group">
								<input name="password1" type="password" class="sign__input" placeholder="Password">
							</div>

							<div class="sign__group">
								<input name="password2" type="password" class="sign__input" placeholder="Repeat Password">
							</div>

							<div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">I agree to the <a href="#">Privacy Policy</a></label>
							</div>
							
							<button class="sign__btn" type="submit">Sign up</button>

							<span class="sign__text">Already have an account? <a href="signin.html">Sign in!</a></span>
						</form>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock body %}
	